body{
    background-size: cover;
    background-position: center;
    font-family: 'Balsamiq Sans', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Montagu Slab', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Titan One', cursive;

}
.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
background-color: orange;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Montagu Slab', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Titan One', cursive;
}

#status
{
font-size: 18px;
font-family: 'Titan One', cursive;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Montagu Slab', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Special Elite', cursive;
}
canvas{
    box-shadow: 10px black;
    border-radius: 20px;
    margin-top: 30px;
}
#status, #number_of_objects, #start_model{
    font-size: 18px;
}
